@page
@model ProjectGym.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "All Classes";
}

<div class="container py-5">
    <div class="row justify-content-between align-items-center mb-4">
        <div class="col-auto">
            <h1 class="display-4 mb-0">@ViewData["Title"]</h1>
        </div>
        <div class="col-auto">
            <a asp-page="Create" class="btn btn-primary btn-lg">Add Class</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Class Name</th>
                    <th scope="col">Schedule</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Trainer</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ClassTB)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Schedule)</td>
                        <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Trainer.Name)</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <a asp-page="./Edit" asp-route-id="@item.ClassID" class="btn btn-primary">Edit</a>
                                <a asp-page="./Details" asp-route-id="@item.ClassID" class="btn btn-info">View</a>
                                <a asp-page="./Delete" asp-route-id="@item.ClassID" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>